@charset "utf-8";

html{
	background-color:white;
	text-color: black; 
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;


}
html, body {
    margin: 0;
    height: 100%;
}

header{
    background-color: white;
    padding-top: 20px;
}
nav.site-navigation{
    text-align: center;
	text-decoration: none;
    width: 100%;

}

nav li{
	font-size: 1.2vw;
	display: inline-block;
	margin-top: 0.1em;
	margin-bottom: 0;
	margin-left: 0.9vw;
	float: left; 
	margin-right: 1.3vw;
	text-decoration: none;
}


nav a {
	text-decoration: none;
    font-size: 20px;
}

nav a:click{
	color: #0C32AF;
}

.header-nav-article{
    float: left;
    width: 25%;
    padding-left: 30px;


}
.header-nav-aside{
	width: 55%;
	float: right; 
	padding-top: 2.5vh;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 9%;

}
.logo-img{
	width:250px;
	height: auto;
}

.header-img-container {

  display: inline-block;
  padding-bottom: none;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}


.header-img {
    width: 100%;
	height: 27vw;
	opacity: 0.7;
}

.header-img-text {
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  font-size: 4vw;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;

}


.header-img-text2 {
  position: absolute;
  top: 20%;
  left: 47%;
  color: white;
  font-size: 3.5vw;
  width: 600px;
  letter-spacing: 3px;

}
.header-img-button{
	position: absolute;
	background-color: #3777d6;
	color: white; 
	top: 58%;
	left: 65%;
	font-size: 1.3vw;
	width: 20vw; 
	height: 3vw;
	border-radius: 1px;
	border-color:#3777d6;
	transform: translate(-100%, ,0%) 
}

.header-img-scroll-button{
	position: absolute;
	background-color: #3777d6;
	color: white;
	top: 55%;
	left: 12%;
	font-size: 1.3vw;
	width: 20vw;
	height: 3vw;
	border-radius: 1px;
	border-color:#3777d6;
	transform: translate(-100%, ,0%)
}







.survey{

    padding-top: none;
}

.form-article{
    float: left;
    width: 55%;

    height: 34vh;
}

.buttons-aside{
    float: right;
    width: 45%;
    text-align: center;

    height: 34vh;
}


.buttons-container {


  padding-bottom: none;
  position: relative;
  text-align: center;
  height: auto;
    background-color: blue;

  width: 100%;
}

.submit-button{
    position: absolute;
    background-color: #3777d6;
    color: white;
    margin-top: 9%;
    right: 70%;
    font-size: 1.3vw;
    width: 25vw;
    height: 8vh;
    border-radius: 1px;
    border-color:#3777d6;
    transform: translate(-100%, ,0%);


}

button:hover{
    cursor: pointer;
}

.reset-button{
    position: absolute;
    background-color: white;
    color: #3777d6;
    margin-top: 9%;
    left: 35%;
    font-size: 1.3vw;
    width: 25vw;
    height: 8vh;
    border-radius: 1px;
    border-color:#3777d6;
    transform: translate(-100%, ,0%);

}


.typesOfServices-header{
 font-size: 2vw; 
 padding-left: 10px;

}


.typesOfServices-table{
	font-size: 1.7vw; 
	padding-left: 10px;
	width: 60%; 
	height: 60px;

}
.tableRow1{
	padding-bottom: 20px; 
}
.selectStatus-header{
 font-size: 2vw; 
 padding-left: 10px;

}
.selectStatus-table{	
	font-size: 1.7vw; 
	padding-left: 10px;
	width: 60%; 
	height: 60px;
	
}
.myBox{
	border: none;
	padding: 5px;
	font: 24px/36px sans-serif;
	width: 95%;
	height: 500px;
	padding-left: 2%;
	overflow: scroll;
	::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	border: 1px solid;
	padding-top: 60%;
	border-color: black;

	}
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  padding-top: 50%;
  padding-top: 50%;
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

footer {
    background-color: grey;
    padding-top: 20px;
    font-size: 13px;
    text-align: center;
}

.footer-text
{
    display: inline-block;
    text-align: center;
    padding-left: 30%;
    width: 600px;
}

.footer-table
{
    text-align: center;
}

.city-seal{
width: 120px;
}

#mapid { height: 600px;
            margin-top: 30px;
            width: 95%;
            margin-left: 2%;

            margin-bottom: 30px;

            }
