@charset "utf-8";

html{
	background-color: blue;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


/*header nav styling:*/
header{
    background-colro: blue;
}

nav.site-navigation{
    text-align: center;
    color: black;
    width: 100%;

    padding-right: none;
    /*background-color: red;*/

}

nav li{
	font-size: 20px;
	display: inline-block;
	margin-top: 0.3em;
	margin-bottom: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
	/*float: right;*/
	/*background-color: blue;*/
}


nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.header-nav-article{

    width: 30%;
    /*background-color: blue;*/
    float: left;
}

.header-nav-aside{
    width: 45%;
    float: right;
    /*background-color: green;*/
    padding-top: 75px;
    padding-bottom: 0;
    padding-left: 100px;
}

.logo-img{
    width: 250px;
    height: auto;
}




/*big header image styling:*/
.header-img-container {
  padding-top: none;
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: none;

  display: inline-block;
}

.header-img-text {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  font-size: 80px;
  transform: translate(-50%,-50%);
}

.header-img-button{
    position: absolute;
    top: 60%;
    left: 45%;
    color: white;
    background-color: #0C32AF;
    font-size: 20px;
    transform: translate(-100%, 0)
    border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  height: 35px;


}

/*.header-img {
    padding-bottom: none;
}*/

.header-img-container .header-img-button:hover {
  /*background-color: white;*/
  color: #0C32AF;
}


.mission-statement {
    text-align: center;
    background-color: #E9E8E8;
    padding-top: none;
}

.mission-statement p{
}